<h1>Bem vindo!</h1>
Logado como Professor <strong><%= current_user.name %></strong>.

<%= link_to 'Alterar e-mail', edit_admin_user_path(current_user.id), :class => 'link' %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'link'  %> <br>
