@import "materialize/components/color-variables";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#login-box{
  margin-top: 3%;
}
